body{
	font-family: helvetica;
	background-color: #808080; 
}
nav{	
	background-image: url("https://freepikpsd.com/media/2019/10/faixa-cinza-transparente-png-1-Transparent-Images-228x169.png");
	opacity: 20.5 ;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	font-size: 15px;
	color: white;
} 
h3{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 170px);
}

.tabela {
	box-shadow: -5px -5px 5px rgba(0, 0, 0, .3);
	background-color: white; 
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 170px);
}
#selecao{
	color: white;
	background-color: #DAA520
}

