* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDDDDD;
    padding-bottom: 45px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 10vh;
}

img {
    height: 10vh;
}

ul, li{
    list-style:none;
    list-style-type:none;
    text-decoration: none;
}
.lista {
    display: flex;
    margin-left: 50%;
    height: 8vh;  
}

.lista li {
    letter-spacing: 4px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 2vh;
}

.lista li:hover {
    background-image: white;
    background-image: linear-gradient(to right, #F0F8FF, #F0FFF0);
    border-radius: 10px;
}

footer, push{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-bottom: auto;
    padding: 10px;
    bottom:0;
    left:0;
}

h2{
	font-family: sans-serif;
	color: #555555;
	margin-left: 30px;
}

/*alinhando uma div ao lado da outra*/
.container-a{
    display: inline-flex;
    margin-left: 300px;
    margin-top: 50px;
}

.card-a{
	background-color: #00CED1;
	width: 300px;
	height: 50vh;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 150px;
	align-items: center;
	text-align: center;
	padding-top: 80px;

}
/*alinhando uma div ao lado da outra*/
.container-b{
    display: inline-flex;
    margin-left: 350px;
    margin-bottom: 100px;
}

.card-b{
	background-color: #00CED1;
	width: 50vh;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 150px;
	align-items: center;
	text-align: center;
	padding-top: 80px;

}
.icones{
	margin-left: 100px;
	padding-top: 50px;
}
/*separar icones em icones-a e icones-b*/
.nome {
    list-style: none;
    display: flex;
    margin-left: -5%;

}

.nome li {
    margin-left: 5%;

}

.nome li img {
    height: 5vh;

}